*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #333;
    color: #cacaca;
    overflow: hidden;
    user-select: none;
}
html , body{
    height: 100%;
    width: 100%;
    text-align: center;
  }
  h1{

    width: 600px;
    font-size: 256px;
    background-color: #444;
    margin: 8% 30%;
    padding: 12px 16px;
}
button{
  background-color: #444;
  box-shadow: 4px 4px 12px rgb(29, 27, 27);
  margin: 4px 8px;
  padding: 8px 16px;
  text-align: center;
}