* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #d7d6d6;
  color: #111;
}

.parent {
  width: 100%;

  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  height: 320px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card .top{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 8px;
  gap: 4px;
  background-color: transparent;
  color: #b1b1b1;
}
.center h3{
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 6px;
}
.center h3 span{
  font-size: 8px;
  font-weight: 300;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  gap: 6px;
  margin-top: 8px;
  flex-wrap: wrap;
}
.center .tag h4{
  font-size: 8px;
  background-color: #dadada;
  color: #111;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 4px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b5b5b5c5;
  padding-top: 16px ;
  flex-wrap: wrap;
}
.bottom button{
  background-color: #111;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-weight:lighter;
}

.bottom h3{
  font-size: 16px;

}

.bottom p{
  font-size: 8px;
  color: #8b8b8b;
}