.hero{
    display: flex;
    flex: 1;
    background: linear-gradient(to right, #fffef4, #f9f6e8);
}
.left{
    width: 50%;
    height: 70vh;
    margin: 20px;
    padding: 60px;
}
.left :first-child{
    font-size:4em;
    font-weight: bold;
    color: olive;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;

}
.left :nth-child(2){
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    padding-bottom: 30px;
     font-size: .8rem;
    line-height: 1.2;
}
.left button{
    border-radius: 22px;
    padding: 20px 42px;
    margin: 5px;
    background-color: var(--buttoncolor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: var(--fontcolor);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: all 0.3s ease;
}
.left button:focus {
    outline: 2px solid olive;
}
.left button:hover{
    transform: translateY(-5px) scale(1.05);
    background-color: #fffad9;
    color:var(--txthover);
    box-shadow: 0 4px 10px rgb(120, 120, 69);
}
.right{
    width: 50%;
    height: 70vh;
    margin: 20px;
    padding: 60px;

}
.right img{
    width: 500px;
    transition: transform 1s ease 0.5s;
}
.right img:hover{
    /* transform: translateY(20px) translateX(-20px) scale(1.1); */
   animation: 2s spin linear alternate 12 ;
}

@keyframes spin{
    0%{
        scale: 1;
        transform: translateX(30px) translateY(30px);
    }
    25%{
        scale: 0.75;
        transform: translateX(10px) translateY(-10px);
    }
    50%{
        scale: 1;
        transform: translateX(0px) translateY(-10px) rotate(180deg);
    }
    75%{
        scale: 0.75;
        transform: translateX(-10px) translateY(0px);
    }
    100%{
        scale: 1;
        transform: rotate(360deg);
        transform: translateX(30px) translateY(30px);
    }
}

footer .bottom-div{
    width: 100%;
    height: 14.6vh;
    padding-bottom: 35px;
    background-color: rgb(138, 159, 100);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.bottom-div div {
    padding-top: 21px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bottom-div h2 {
    font-size: 2rem;
    margin-bottom: 3px;
}
.bottom-div img{
    max-width: 100px;
    object-fit: contain;
}