
.product-main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #fffdf5;
  gap: 2rem;
}

.product-image img {
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-details h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #3e3b2d;
}

.product-details .description {
  font-size: 1em;
  color: grey;
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.product-details .price {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--fontcolor);
}


.product-details .tax {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 1rem;
}


.quantity-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity-cart select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

 .add-cart {
  background: var(--buttoncolor);
  border: none;
  color: var(--fontcolor);
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

 .add-cart:hover {
  background-color: #f3eec6;
  color: var(--txthover);

}


.product-gallery {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 2rem;
}

.product-gallery img {
  max-width: 180px;
  object-fit: contain;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.product-gallery img:hover {
  transform: scale(1.1);
}
  
  .cart-count {
    background: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 5px;
  }

.cart-message {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: #4CAF50;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: bottom 0.5s ease;
}

#added:target {
  bottom: 20px;
}
