*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #141414;
    color: azure;
}

html , body{
    height: 100%;
    width: 100%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 20px ;
    background-color: #474747;
}
.navbar div{
    background-color: #474747;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

